.home {
    background-image: url('https://i.ibb.co/x1KRTKb/Rectangle-4281.png?fbclid=IwAR12cemuGZGKqZo78adMQjOwJd8Sn0CndkSKM5ec5l3vW8-Tn4mT1dn9jXk');
    background-repeat: no-repeat;
    background-size:contain ;
    box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.658);
}